ion-title {
    text-align: center;
}
.logo-duoc{
text-align: end;
}
ion-card{
    height: 95%;
}
ion-textarea{
    font-size: 18px;
}
.carrera{
    font-weight: 900;
    font-size: 11px;
}
.description{
    font-size: 18px;
}
.title{
    text-align: center;
}
ion-title {
    text-align: center;
}
.logo-duoc{
text-align: end;
}
.imgs{
    width:80px;
    height:80px;
    border-radius:150px;
}
.item{
padding: 27px;}