<ion-header class="row">
  <ion-toolbar color="primary" class="toolbar row">
    <div>
      <ion-buttons slot="start">
      </ion-buttons>
    </div>

    <div class="row">
      <ion-title class="ion-text-capitalize">
        {{pageTitle}}
      </ion-title>
      <div class="logo-duoc">
        <img width="90px" src="../../../assets/img/logoDuoc.png">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong>Integrantes</strong>

    <div class="row item-12">
      <ion-accordion-group>
        <ion-accordion value="second">
          <ion-item slot="header" color="light">
            <ion-label class="carrera">Rene Bolzan</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <img class="imgs item-6" width="30%" height="30%" src="../../../assets/fotos/img_rene.png">
            <p class="carrera">Analista Programador Computacional</p>
            <p>Soy una persona que le agrada trabajar en equipo, buscando nuevos aprendizajes en mi camino frente al
              gran mundo que enfrentamos diariamente. Busco desenvolverme en el mundo de la programación. Domino dos
              lenguas: Inglés y Castellano. </p>
          </div>
        </ion-accordion>
        <ion-accordion value="third">
          <ion-item slot="header" color="light">
            <ion-label class="carrera">Nicolas Miranda</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <img class="imgs item-6" width="30%" height="30%" src="../../../assets/fotos/img_nico.jpeg">
            <p class="carrera">Analista Programador Computacional</p>
            <p>Durante este periodo he desempeñado diversos roles tales como programador (Java, TypeScript, Python, JavaScript), Líder
              técnico y Analista funcional.
              Además he podido participar en la construcción de soluciones tecnológicas en diversas área, como
              es, planificar, analizar, desarrollar y supervisar proyectos con metodología tradicional(Gestión de
              proyecto).</p>
          </div>
        </ion-accordion>
      </ion-accordion-group>
      <p class="item-6"></p>
    </div>
  </div>
</ion-content>