<ion-header class="row">
  <ion-toolbar color="primary" class="toolbar row">
    <div>
      <ion-buttons slot="start">
      </ion-buttons>
    </div>

    <div class="row">
      <ion-title class="ion-text-capitalize">
        {{pageTitle}}
      </ion-title>
      <div class="logo-duoc">
        <img width="90px" src="../../../assets/img/logoDuoc.png">
      </div>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-app>
    <ion-card class="ion-text-center">
      <ion-card-header class="title">
        <ion-card-title class="title">Bienvenido estimado {{user}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-app>

</ion-content>