<ion-header class="row">
  <ion-toolbar color="primary" class="toolbar row">
    <div>
      <ion-buttons slot="start">
      </ion-buttons>
    </div>

    <div class="row">
      <ion-title class="ion-text-capitalize">
        {{pageTitle}}
      </ion-title>
      <div class="logo-duoc">
        <img  width="90px" src="../../../assets/img/logoDuoc.png">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
  <ion-app>
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
       

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail=""
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-router-outlet id="main" main></ion-router-outlet>
    </ion-menu>
  </ion-app>
-->
</ion-content>